<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32監視システム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>ESP32監視システム</h1>
    <!--
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit">Upload Video</button>
    </form>
    -->

    <div class="menu-container">
        <div class = "menu--toggle" id = "menu-toggle">
            <span>☰</span>
    </div>
    <nav class="sidebar" id="sidebar">

    </nav>
</body>

</html>